.tag {
    display: block;
}

.taglist li {
    float: left;
    margin: 5px 6px;
}

.taglist li a {
   padding: 10px;
   display: block;
}

.taglist li a:hover {
  background: #1DBAA5;
}
.error {
    color:red;
}
