<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="1"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPost" value="587"/>
  <add key="FromEmailAddress" value="171c900091@itf.edu.vn"/><!--địa chỉ mail gửi-->
  <add key="FromEmailPassword" value="03101998"/>
  <add key="FromName" value="NTShop"/><!--Tên mail gửi-->
  <add key="AdminEmail" value="tamn0310@gmail.com"/><!--Địa chỉ mail của admin-->
  <add key="CurentLink" value="http://localhost:51210/"/>
  
</appSettings>